<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>MIMO Report</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="MIMO Report" />
</head>
<body>
  <h1>MIMO Report</h1>
  <table border="1" cellspacing="0" cellpadding="5">
    <thead>
      <th>Field</th>
      <th>Nil</th>
      <th>Empty</th>
      <th>Masked</th>
      <th>Missed</th>
      <th>Masking Rate</th>
      <th>Coherent Rate</th>
      <th>Identifiable Rate</th>
      <th>K</th>
    </thead>
    <tbody>
      {{ range $key, $value := .Metrics }}
      <tr>
        <td>{{ $key }}</td>
        <td>{{ $value.NilCount }}</td>
        <td>{{ $value.EmptyCount }}</td>
        <td>{{ $value.MaskedCount }}</td>
        <td>{{ $value.NonMaskedCount }}</td>
        <td style="background-color: {{ if $value.MaskedRateValidate | eq 1 }}green{{else if $value.MaskedRateValidate | eq -1}}red{{else if $value.MaskedRate | eq 1.00 }}lightgreen{{else}}orange{{end}}">{{ if ne (toString $value.MaskedRate) "NaN" }}{{ $value.MaskedRate | mulf 100.00 | printf "%0.02f" }} %{{ else }}NaN{{ end }}</td>
        <td style="background-color: {{ if $value.CoherenceRateValidate | eq 1 }}green{{else if $value.CoherenceRateValidate | eq -1}}red{{else if $value.Coherence.Rate | eq 1.00 }}lightgreen{{else}}orange{{end}}">{{ if ne (toString $value.Coherence.Rate) "NaN" }}{{ $value.Coherence.Rate | mulf 100.00 | printf "%0.02f" }} %{{ else }}NaN{{ end }}</td>
        <td style="background-color: {{ if $value.IdentifiantRateValidate | eq 1 }}green{{else if $value.IdentifiantRateValidate | eq -1}}red{{else if $value.Identifiant.Rate | eq 1.00 }}lightgreen{{else}}orange{{end}}">{{ if ne (toString $value.Identifiant.Rate) "NaN" }}{{ $value.Identifiant.Rate | mulf 100.00 | printf "%0.02f" }} %{{ else }}NaN{{ end }}</td>
        <td style="background-color: {{ if gt $value.K 1 }}lightgreen{{else}}orange{{end}}">{{ $value.K }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</body>
</html>
